* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

#map {
    height: 100vh;
}

.parent {
    position: relative;
}

#field-box {
    position: absolute;
    right: 20px;
    bottom: 30px;
    background: #fff9ea;
    border: 2px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.548);
    padding: 10px;
    
}

#field-box > div.form  div {
    margin: 25px 15px;
}

#field-box  div.form  div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

#field-box  div.form  div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

#list > div {
    margin: 20px 0;
}

#field-box > div.form > div:nth-child(5) {
    display: flex;
    align-items: center;
}

#field-box > div.form > div:nth-child(3) {
    display: flex;
    justify-content: space-between;
}

#field-box > div.form > div:nth-child(4) {
    display: flex;
    justify-content: space-between;
}

#field-box > div.form > div:nth-child(6) {
    display: flex;
    align-items: center;
}

#evt-lat {
    flex-grow: 1;
}

#evt-lng {
    flex-grow: 1;
}

h1 {
    text-align: center;
}

.title {
    font-size : 24px;
    font-weight: 700;
    border-bottom: solid 1px black;
    text-align: center;
    padding-bottom: 5px;
}

.content {
    margin: 15px 0;
    font-size: 16px;
    
}

.timeFrom {
    color:rgba(88, 87, 87);
    margin-bottom: 5px;
    padding-top: 5px;
}

.h3-border{
    border-top: 1px solid black;
}

h3 {
    padding-top: 10px;
}

.timeTo {
    color:rgba(88, 87, 87);
}

#field-box > div > div:nth-child(7) {
    display: flex;
    justify-content: center
}

#field-box > div > div:nth-child(1) > label {
    margin-bottom: 15px;
}

#field-box > div > div:nth-child(2) > label {
    margin-bottom: 15px;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    margin-right: 5px;
}

.refresh-btn {
    padding: 15px;
    background: #fff9ea;
    transition-duration: 0.4s;
}

.refresh-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(206, 206, 206, 0.315), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

#new-add {
    text-align: center;
}


